<?php

declare(strict_types=1);

return [
    'postmark' => [
        'live' => [
            'authentication_service' => [
                'apikey' => '2ed8094d-e908-4e93-b21e-0fcb1dff4dd5',
            ],
            'sender_email' => 'noreply@dyxi.com',
        ],
    ],
];
